#######################################
# ENVIRONMENT VARIABLES
#######################################
.env

#######################################
# MONGODB DATA
#######################################
data/
configdb/

#######################################
# BACKUPS
#######################################
backups/

#######################################
# LOGS
#######################################
*.log
logs/

#######################################
# OS FILES
#######################################
.DS_Store
Thumbs.db

#######################################
# IDE FILES
#######################################
.vscode/
.idea/

#######################################
# DOCKER
#######################################
*.pid

#######################################
# TEMP FILES
#######################################
tmp/
temp/

#######################################
# NODE (eventuale frontend futuro)
#######################################
node_modules/

#######################################
# PYTHON (eventuale backend futuro)
#######################################
__pycache__/
*.pyc